*{
    padding: 0;
    margin: 0;
}

:root{
    --main-color: #ffc0cb;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
}
main{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0;
}
table, th, tr, td{
    border: 0.1rem solid black;
    border-collapse: collapse;
    text-align: center;
}

#navBar{
    text-align: center;
    background-color: var(--main-color);
    width: 100%;
    height: 2rem;
}

.defaultBox{
    background-color: white;
    border-radius: 1rem;
    margin: 3rem 0;
}
#formAddWaifu, #formUpdateWaifu{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
    border: 0.1rem solid grey;
}
#formAddWaifu *, #formUpdateWaifu *{
    margin-top: 0.1rem;
}
#waifuList{
    padding: 1rem;
    border: 0.1rem solid grey;
}
#waifuTable{
    margin: auto;
    width: 25rem;
}
#waifuTable thead th{
    padding: 0.1rem;
}
.actionButton{
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}
#editButton{
    background: url("../imgs/svg/edit.svg") no-repeat;
    background-size: 1.5rem;
}

#deleteButton{
    background: url("../imgs/svg/delete.svg") no-repeat;
    background-size: 1.5rem;
}